<div class="p-row">
  <div class="p-container" style="  padding: 0 10px 0px 10px;" c>
    <div class="p-row">
      <div class="p-col-m-12 ">
        <div class="p-col-m-12 ">


          <div style="margin-top: 20px;
    padding-top: 20px;" class="panel panel-default">
            <div class="panel-body">

              <div class="p-col-m-3">


                <label class="trigger">
                  Select All
                  <input style="float: left;" type="checkbox" class="checkbox checkbox--red" />
                  <span class="msg">
                    Slow time process !
                  </span>
                </label>

              </div>

              <div class="p-col-m-9">
                <div id="imaginary_container">
                  <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon">
                      <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
        
  
        <div class="p-col-m-12">
          <div class="panel panel-default ">
              <div class="panel-heading">
                  <h3 class="panel-title">List Project in Redmine</h3>
                </div>
            <div class="panel-body">
              <div class="p-col-m-8 p-mobile-timeline">

                <div *ngIf="isShowListSelect;then  templateViewSelect else templateListProjects   ">Loading...</div>


              </div>
              <div style="padding-top: 30px;" class="p-col-m-4 p-mobile-list-task">
                <div class="p-container" style="background-color: white ; ">



                  <div *ngIf="false; else templateViewSelect">loading...</div>


                </div>
              
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<nav class="p-menu">
  <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
  <label class="menu-open-button" for="menu-open">
    <span class="lines line-1"></span>
    <span class="lines line-2"></span>
    <span class="lines line-3"></span>
  </label>

  <a class="menu-item blue" (click)="viewProjects()" tooltip="Select">
    <i class="fa fa-anchor"></i>
  </a>
  <a class="menu-item green" tooltip="Projects" (click)="viewProjectsSelect()">
    <i class="fa fa-coffee"></i>
  </a>
  <!--    <a href="#" class="menu-item red"> <i class="fa fa-heart"></i> </a>
    <a href="#" class="menu-item purple"> <i class="fa fa-microphone"></i> </a>
    <a href="#" class="menu-item orange"> <i class="fa fa-star"></i> </a> -->
  <!--    <a href="#" class="menu-item lightblue"> <i class="fa fa-diamond"></i> </a> -->
</nav>
<!--             <a class="btn icon-btn btn-default" href="#"><span class="glyphicon btn-glyphicon glyphicon-save img-circle text-muted"></span>Download</a>
            <a class="btn icon-btn btn-muted" href="#"><span class="glyphicon btn-glyphicon glyphicon-remove-circle img-circle text-muted"></span>Unavailable</a>
            <a class="btn icon-btn btn-primary" href="#"><span class="glyphicon btn-glyphicon glyphicon-thumbs-up img-circle text-primary"></span>Like</a>
            <a class="btn icon-btn btn-success" href="#"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Add</a>
            <a class="btn icon-btn btn-info" href="#"><span class="glyphicon btn-glyphicon glyphicon-share img-circle text-info"></span>Share</a>
            <a class="btn icon-btn btn-warning" href="#"><span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>Remove</a>
            <a class="btn icon-btn btn-danger" href="#"><span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>Delete</a> -->


<ng-template #templateListProjects>
  <app-lists-project [(projectList)]="dataFake"></app-lists-project>
  <div class="p-col-m-12">
      <ul class="pagination">
          <li class="disabled"><a href="#">«</a></li>
          <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">»</a></li>
        </ul>
  </div>
</ng-template>
<ng-template #templateViewSelect>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">List Project select</h3>
    </div>
    <div style="padding: 5px;" class="panel-body">
      <table class="p-table-reposive">
        <thead>
          <tr>
            <th>Project name</th>
            <th style="width: 50px;">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-column="Project name">Attends the Philadelphia Museum School of Industrial Art. Studies design with Alexey Brodovitch, art director
              at Harper's Bazaar, and works as his assistant.</td>
            <td style="width: 100px;" data-column="Action">

              <a class="btn icon-btn btn-default">
                <span class="glyphicon btn-glyphicon glyphicon-share img-circle text-muted"></span>View</a>
              <a class="btn icon-btn btn-success">
                <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Add</a>
              <a class="btn icon-btn btn-danger">
                <span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>Delete</a>
            </td>
          </tr>
          <tr>
            <td data-column="Project name">Studies design with Alexey Brodovitch, art director at Harper's Bazaar, and works as his assistant.</td>
            <td style="width: 100px;" data-column="Action">
              <a class="btn icon-btn btn-default">
                <span class="glyphicon btn-glyphicon glyphicon-share img-circle text-muted"></span>View</a>
              <a class="btn icon-btn btn-success">
                <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Add</a>
              <a class="btn icon-btn btn-danger">
                <span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>Remove</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="p-col-m-12" style="padding: 5px 0 5px 0px;">
        <a class="btn icon-btn btn-default" href="#">
          <span class="glyphicon btn-glyphicon glyphicon-share img-circle text-muted"></span>View all</a>
        <a class="btn icon-btn btn-muted" href="#">
          <span class="glyphicon btn-glyphicon glyphicon-remove-circle img-circle text-muted"></span>Remove all</a>
      </div>
    </div>
  </div>
</ng-template>